.headerSection{
    background: rgb(34, 25, 43);
    background-image: url("images/ريم.jpg");
    opacity: 1;
    background-position: center;
    height: 390px;
    width: 100%;
    border-radius: 30px; 

}

#ulHeader{
    list-style-type: none;
    float: right;
   margin-right: 70px; 
    margin-top: 20px;
     
}

#ulHeader li {
    display: inline;
    padding: 20px;
    color: aliceblue;
}

#ulHeader li a{
    color: aliceblue;
    
}

#searchSeaction{
    border: 2px solid rgb(226, 224, 228);
    border-radius: 30px;
     margin-top: 20px;
     margin-left: 500px;
     background: rgb(159, 138, 180);
     opacity: 0.5; 
}

.headerTitile{
   
    margin: 80px;
    color: aliceblue;
  
    
}
#but-header{
   margin-left: 200px; 
   margin-top: 70px; 
    width: 190px;
    border-radius: 20px;  
    background: rgb(226, 224, 228);
     opacity: 0.5;
}
/* the end of header styles */

.thirdConter{
    margin-top: 60px; 
   background: rgb(225, 217, 233);
    height: 230px;
}

.pThird{
    float: right;
    width: 60%;
    margin-top: 50px;
   
    padding: 10px;
  
    
}

.imgThirdConternt{
   margin-left: 20px;
    margin-top: 30px;
   padding-bottom: 10px;
    width:32%;
   
    float: left;
}
#secanI{
    float: right;
    margin-right: 30px; 
}
#secanP{
    float: left;
}

/* end of seaction tow style */

#card-columns-content{
    margin-top: 50px;
}